@font-face {
    font-family: electronicFont;
    src: url(./font/DS-DIGIB.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000;
    background: #fff;
}

.night a {
    color: #fff;
    background: #000;
}

html.night {
    color: #fff;
    background: #000;
}

/* Elementos principais */
#cleaner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#page {
    position: relative;
    height: 85%;
    overflow: hidden;
}

/* Estilos de texto */
#city {
    font-size: 7rem;
    position: absolute;
    top: 1.5%;
    right: 3%;
    text-align: right;
}

#temp {
    font-size: 12rem;
    font-weight: bolder;
    text-align: center;
    font-family: electronicFont;
    display: inline-block;
}

#lastUpdate {
    font-size: 28rem;
    font-weight: bolder;
    text-align: center;
    font-family: electronicFont;
    position: relative;
    top: 23%;
    left: 0%;
}

#description {
    font-size: 5rem;
    font-weight: bolder;
    text-align: left;
    position: absolute;
    left: 32%;
    top: 2%;
}

#icon {
    font-size: 20rem;
}

/* Previsão do tempo */
.forecast {
    position: absolute;
    width: 100%;
    bottom: 7%;
    left: 0;
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    height: 39%;
}

.col {
    width: 24.5%;
    border-right: 1px solid black;
    float: left;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.col:last-child {
    border-right: none;
}

#date {
    font-size: 7rem;
    position: absolute;
    bottom: 46%;
    left: 3.3%;
}

#sun {
    font-size: 4.9rem;
    font-weight: bolder;
    position: absolute;
    bottom: 0%;
    left: 3%;
}

.forecastIconWrapper {
    font-size: 14.2rem;
    position: relative;
    top: 5%;
    left: 5%;
}

.colTemp {
    font-size: 8rem;
    font-weight: bolder;
    position: relative;
    top: 8%;
}

.colTime {
    font-size: 5rem;
    margin-top: 5%;
    top: 1%;
    position: relative;
}

.colDesc {
    font-size: 3rem;
    position: relative;
    bottom: -5%;
}

/* Orientação do dispositivo */
.portrait .col:nth-last-child(2) {
    border-right: none;
}

.portrait .col5 {
    display: none;
}

.landscape #city {
    font-size: 7rem;
}

.landscape #temp {
    font-size: 12rem;
}

.landscape #lastUpdate {
    font-size: 28rem;
}

.landscape #description {
    font-size: 6rem;
}

.landscape #icon {
    padding: 4rem;
    font-size: 16rem;
}

.landscape #date {
    font-size: 7rem;
}

.landscape #sun {
    font-size: 4rem;
}

.landscape .forecastIconWrapper {
    font-size: 14.2rem;
}

.landscape .colTemp {
    font-size: 7.1rem;
}

.landscape .colTime {
    font-size: 5rem;
}

.landscape .colDesc {
    font-size: 2.8rem;
}

.landscape .col {
    width: 19.5%;
}
